/* Untuk Tablet */
@media all and (max-width: 1000px) {
 
  .container {
    width: 78%;
  }
  .header-right{
    margin-right: 220px;
  }
  .logo {
    padding-left: 5px;
  }
  .header-right a{
    padding: 2px 15px;
    font-size: 12px;
  }
  .header-center {
    font-size: 15px;
  }
  .kotak{
    width: 79%;
    text-align: center;
  }
  .kotak h1 {
    font-size: 25px;
  }
  .kotak p {
    font-size: 12px;
  }
  .btn-wrapper{
    margin-right: 18%;
  }

  .copy-heading1 h3{
    width: 25%;
    padding-left: 15px 0 0 5px;
  }

  .copy-heading2 h3{
    width: 25%;
    margin-top: 2810px;
    padding-left: 15px 0 0 5px;
  }

  .top-wrapper h1 {
    font-size: 32px;
  }
  
  .heading h2 {
    font-size: 18px;
    width: 75%;
    text-align: center;
  }

  .i-contents, .e-contents{
    width: 100%;
    margin-left: 40px;
  }

  .content-wrapper{
    height: 5770px;
  }

  .selengkapnya{
    margin-right: 550px;
  }
}

/* Untuk Smartphone */
@media all and (max-width: 670px) {
  .contentainer {
    width: 100%;
  }
  .kotak{
    width: 50%;
    text-align: center;
  }
  .top-wrapper {
    padding: 180px 0 120px 0;
    background-image: url("horse.jpg");
    background-size: cover;
    color: rgb(5, 5, 5);
    text-align: center;       
  }
  .heading h2, .content-title, .content-author, .txt-contents{
    width: 53%;
  }
  .copy-heading1 h3{
    width: 25%;
  }

  footer {
    text-align: center;
  }
  
  
  .facebook {
    margin-bottom: 10px;
  }
  
  .top-wrapper {
    text-align: left;
  }
  
  /* Tambahkan CSS untuk header-right */
  .header-right{
    display: none;
  }
  
  /* Tambahkan CSS untuk menu-icon */
  .menu-icon{
    display: block;
  }
  
  .top-wrapper h1 {
    font-size: 20px;
    line-height: 36px;
  }
  
  .top-wrapper p {
    font-size: 10px;
    line-height: 20px;
  }
  .header-right a{
    padding: 2px 15px;
    font-size: 10px;
  }
  .header-center {
    font-size: 15px;
  }
  .kotak{
    width: 79%;
    text-align: center;
  }
  .kotak h1 {
    font-size: 20px;
  }
  .kotak p {
    font-size: 10px;
  }
  .i-contents, .e-contents{
    width: 100%;
    margin-left: 20px;
  }
}
